<footer>
  <div style="margin: 0.5rem;">
    <a href="https://github.com/Ash-the-k/AniLens-anime-scene-finder" target="_blank" style="margin: 0 10px; color: var(--text-muted);">
      <i class="ri-github-line" style="font-size: 1.5rem;"></i>
    </a>
    <a href="#" style="margin: 0 10px; color: var(--text-muted);">
      <i class="ri-instagram-line" style="font-size: 1.5rem;"></i>
    </a>
  </div>
  
  <p style="font-size: 0.9rem; color: var(--text-muted);">
    &copy; <%= new Date().getFullYear() %> AniLens. Dedicate your hearts.
  </p>
</footer>

<%- include("search-modal") %>
<script src="/script.js"></script>

</body>
</html>