<nav>
  <div style="display: flex; align-items: center">
    <a href="/" class="navbar-logo">
      <img src="/assets/logo.png" alt="AniLens Logo" />
    </a>
  </div>

  <div style="display: flex; align-items: center">
    <span class="gap"></span>
    <a href="/">Home</a>
    <span class="gap"></span>
    <a href="/about">About</a>

    <span class="gap"></span>
    <button id="openSearch" style="padding: 0.6rem 1.2rem; font-size: 0.9rem">
      <i class="ri-search-line"></i> Search
    </button>
  </div>
</nav>
