<%- include("partials/header", { title: "AniLens" }) %>

<main>
    <%- include("partials/search-form") %>

    <%- include("partials/search-modal") %>
    <script src="/script.js"></script>

</main>

<%- include("partials/footer") %>